{% extends "rosetta/base.html" %}
{% load i18n sekizai_tags rosetta %}

{% block title %}
  {% block pagetitle %}{% trans "Translation Statistics" %}{% endblock %}
{% endblock %}

{% block main %}
  <h1>&nbsp;</h1>

  <ul class="object-tools">
    <li class="nobubble">{% trans "Filter" %}:</li>
    {% for k in kinds %}
      <li{% if kind == k %} class="active"{% endif %}>
        <a href="?filter=k">{% trans k|title %}</a>
      </li>
    {% endfor %}
    <li{% if not kind %} class="active"{% endif %}>
      <a href="?filter=all">{% trans "All" %}</a>
    </li>
  </ul>

  <div class="module">
    <h2>{% trans "All Applications" %}</h2>
    <table cellspacing="0">
      <thead>
        <tr>
          <th>{% trans "Language" %}</th>
          <th colspan="3">{% trans "Progress" %}</th>
          <th>{% trans "Contributors" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for lang in languages %}
            </tr>
            <td><a href="/{{ lang.id }}{{ current_url }}all/">{% trans lang.name %}</a></td>
            {% progressbar lang.progress %}
            <td>{{ lang.people|join:', ' }}</td>
          <tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
