{% extends "rosetta/base.html" %}
{% load i18n sekizai_tags rosetta %}

{% block title %}
  {% block pagetitle %}{% trans "Translation Statistics" %}{% endblock %}
{% endblock %}

{% block main %}
  <div id="content">
    <table class="list">
      <thead>
        <tr>
          <th>{% trans "Language" %}</th>
          <th colspan="3">{% trans "Progress" %}</th>
          <th>{% trans "Contributors" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for lang in languages %}
            </tr>
            <td><a href="/{{ lang.id }}{{ current_url }}{{ kind|default:"all" }}/">{% trans lang.name %}</a></td>
            {% progressbar lang.progress %}
            <td>{{ lang.people|join:', ' }}</td>
          <tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div id="sidebar">
    <h2>Filter</h2>
    <ul class="object-tools">
      <li{% if not kind %} class="active"{% endif %}>
        <a href="?filter=all">{% trans "All" %}</a>
      </li>
      {% for k in kinds %}
        <li{% if kind == k %} class="active"{% endif %}>
          <a href="?filter={{ k }}">{% trans k|title %}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
