{% extends "rosetta/base.html" %}{% load admin_static %}
{% load future rosetta i18n %}

{% block header %}
  {{ block.super }}
  <div id="user-tools">
    <p>
      <span>
        <a href="{% url 'rosetta-upload' pofile.app.kind pofile.app.name %}">{% trans "Upload catalog" %}</a> /
        <a href="{% url 'rosetta-download' pofile.app.kind pofile.app.name %}">{% trans "Download this catalog" %}</a>
      </span>
    </p>
  </div>
{% endblock %}

{% block pagetitle %}{{ block.super }}
  - {{ pofile.app.kind|title }}
  - {{ pofile.app.name|title }}
({{ pofile.percent_translated|floatformat:0 }}%){% endblock %}

{% block breadcumbs %}
  <li><a href="{% url 'rosetta-list' pofile.app.kind %}">{{ pofile.app.kind|title }}</a></li>
  <li><a>{{ pofile.app.name|title }}</a></li>
{% endblock %}

{% block main %}

  <script>
    $(document).ready(function() {
      $('.show_more').click(function() {
        $(this).parent().prev().toggleClass('visible');
      });
    });
  </script>

  <div id="topbar">
    <form class="search" method="post" action="">
      {% if query %}
        <a class="clear" href="{{ clear_url }}"><img title="{% trans "Clear Search" %}" src="{% static "images/rosetta/clear.svg" %}"/></a>
      {% endif %}
      {% csrf_token %}
      <input type="text" name="query" value="{{ query|default:'' }}" placeholder="Search" {% if query %}style="margin-right: -25px;"{% endif %}/>
    </form>
    <ul>
      {% for fid, name in pofile.filters %}
        <li{% if filter == fid %} class="active"{% endif %}>
          <a href="?filter={{ fid }}">{% trans name %}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  {% autopaginate entries msg_per_page as items %}

      <form method="post" action="">
        <table class="list">
          <thead>
            <tr>
              {% rosetta_csrf_token %}
              <th><div class="text">{% trans "Original" %}</div></th>
              <th>{{ language_name }}</th>
              <th class="c fuzzy"><span class="checkall"></span> {% trans "Fuzzy" %}</th>
              <th class="occur">{% trans "Occurrences(s)" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for message in items %}
              <tr class="{% cycle "row1" "row2" %}">
                {% if message.msgid_plural %}
                  <td class="original plural">
                    <div class="plural-container">
                      <span class="part">{{message.msgid|format_message|linebreaksbr}}</span>
                      <span class="part">{{message.msgid_plural|format_message|linebreaksbr}}</span>
                    </div>

                    {% if message.msgctxt %}
                      <span class="context">{% trans "Context hint" %}: {{message.msgctxt|safe}}</span>
                    {% else %}
                      {% if message.comment %}
                        <span class="context">{% trans "Context hint" %}: {{message.comment|safe}}</span>
                      {% endif %}
                    {% endif %}
                  </td>
                  <td class="translation">
                    {% for k, msgstr in message.msgstr_plural.items|dictsort:"0"  %}
                      <label for="m_{{message.md5hash}}_{{k}}">{{k}}:</label>
                      <textarea rows="{{message.msgid|format_message|lines_count}}" cols="40" id="{{ message.md5hash }}_msg_{{ k }}" name="{{ message.md5hash }}_msgs_{{ k }}" tabindex="{% increment tab_idx %}">{{msgstr}}</textarea>
                    {% endfor %}
                  </td>
                {% else %}
                  <td class="original">
                    <span class="message">{{ message.msgid|format_message|linebreaksbr }}</span>
                    {% if message.msgctxt %}
                      <span class="context">{% trans "Context hint" %}: "{{message.msgctxt|safe}}"</span>
                    {% else %}
                      {% if message.comment %}
                        <span class="context">{% trans "Context hint" %}: {{message.comment|safe}}</span>
                      {% endif %}
                    {% endif %}
                  </td>
                  <td class="translation">
                    {% if message.is_short %}
                      <input name="{{ message.md5hash }}" value="{{ message.msgstr }}" tabindex="{% increment tab_idx %}"/>
                    {% else %}
                      <textarea rows="{{message.msgid|format_message|lines_count}}" name="{{ message.md5hash }}_msg" tabindex="{% increment tab_idx %}">{{message.msgstr}}</textarea>
                    {% endif %}
                    {% if ENABLE_TRANSLATION_SUGGESTIONS %}
                      <a href="#" class="suggest">{% trans "suggest" %}</a>
                    {% endif %}
                  </td>
                {% endif %}
                <td class="c">
                  <input type="checkbox" name="{{message.md5hash}}_fuzzy" value="1" {% if message|is_fuzzy %}checked="checked"{% endif %} />
                </td>
                <td class="location">
                  {% for fn,lineno in message.occurrences_trim %}
                    <code{% if forloop.counter|gt:1 %} class="hide"{% endif %}>{{ fn }}:{{lineno}}</code>
                  {% endfor %}
                </td>
                <td>
                  {% if message.occurrences|length|gt:1 %}
                    <a href="#" class="show_more">...</a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if query %}<input type="hidden" name="query" value="{{ query }}"/>{% endif %}
        <div id="submit-row">
          {% paginate %}
          {% if page_obj.has_next %}
            <button type="submit" class="button default" tabindex="{% increment tab_idx %}" style="float: right;" name="save" value="{{ page|add:1 }}">{% trans "save and next" %} ››</button>
          {% else %}
            <button type="submit" class="button default" tabindex="{% increment tab_idx %}" style="float: right;" name="save" value="0">{% trans "save and quit" %}</button>
            {% endif %}
          </button>
        </div>
      </form>
    </div>

{% endblock %}
