{% extends "rosetta/base.html" %}
{% load i18n sekizai_tags %}

{% block pagetitle %}{{block.super}} - {% trans "App Selection" %}{% endblock %}

{% block breadcumbs %}
  {% if kind %}&rsaquo; {% trans kind|title %} Translations{% endif %}
{% endblock %}

{% block main %}
    <h1>&nbsp;</h1>
    <ul class="object-tools">
        <li class="nobubble">{% trans "Filter" %}:</li>
        {% for k in kinds %}
          <li{% if kind == k %} class="active"{% endif %}>
            <a href="{% url 'rosetta-list' k %}">{% trans k|title %}</a>
          </li>
        {% endfor %}
        <li{% if not kind %} class="active"{% endif %}>
          <a href="{% url 'rosetta' %}">{% trans "All" %}</a>
        </li>
    </ul>

    <div class="module">
      <h2>{% trans "All Applications" %}</h2>
      <table cellspacing="0">
        <thead>
          <tr>
            <th>{% trans "Application" %}</th>
            <th colspan="3">{%trans "Progress" %}</th>
            <th>{% trans "File" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for po in objects %}
            <tr class="{% cycle row1,row2 %}">
              <td><a href="{{po.get_url }}">{{ po.app.name|title }}</a></td>
              <td class="ch-total r">{{ po|length }}/{{ po.translated_entries|length }}</td>
              <td class="ch-progress r">{{po.percent_translated|floatformat:0}}%</td>
              <td class="progress">
                <div title="{% for x,y in po.progress.items %}{{ x|title }}: {{ y }}
{% endfor %}">
                {% if po.done_total > 1 %}
                  <span class="done" style="width: {{ po.done_total|floatformat:0 }}%;">&nbsp;</span>
                {% endif %}
                </div>
              </td>
              <td class="hint">{{ po.path }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
