{% extends "rosetta/base.html" %}
{% load i18n sekizai_tags rosetta future %}

{% block pagetitle %}{{block.super}} - {% trans "App Selection" %}{% endblock %}

{% block breadcumbs %}
  {% if kind %}<li><a>{% trans kind|title %} Translations</a></li>{% endif %}
{% endblock %}

{% block main %}
  <div id="content">
      <h2>{% trans "All Applications" %}</h2>
      <table class="list">
        <thead>
          <tr>
            <th>{% trans "Application" %}</th>
            <th colspan="3">{%trans "Progress" %}</th>
            <th>{% trans "File" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for po in objects %}
            <tr class="{% cycle "row1" "row2" %}">
              <td><a href="{{po.get_url }}">{{ po.app.name|title }}</a></td>
              {% progressbar po.progress %}
              <td class="hint">{{ po.path }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
  <div id="sidebar">
    <h2>Filter</h2>
    <ul class="object-tools">
        <li{% if not kind %} class="active"{% endif %}>
          <a href="{% url 'rosetta-list' %}">{% trans "All" %}</a>
        </li>
        {% for k in kinds %}
          <li{% if kind == k %} class="active"{% endif %}>
            <a href="{% url 'rosetta-list' k %}">{% trans k|title %}</a>
          </li>
        {% endfor %}
    </ul>
  </div>
{% endblock %}
